# Locale setting
d-i debian-installer/language string fr
d-i debian-installer/country string FR
d-i debian-installer/locale string fr_FR.UTF-8

# Static network configuration.
d-i netcfg/enable boolean false

# Clock and time zone
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris
d-i clock-setup/ntp boolean true

# Users
d-i passwd/root-login boolean false
d-i passwd/user-fullname string debian
d-i passwd/username string debian
d-i passwd/user-password password debian
d-i passwd/user-password-again password debian
d-i user-setup/allow-password-weak boolean true

# Disk Partitioning
d-i partman-auto/disk string /dev/sda
d-i partman-auto/choose_recipe select my-lvm-config
# LVM partitionning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/expert_recipe string                         \
      my-lvm-config ::                                        \
              1 1 1 free method{ biosgrub } .                 \
              250 250 250 ext2                                \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext2 }    \
                      mountpoint{ /boot }                     \
              .                                               \
              100% 2048 100% linux-swap                       \
                      lv_name{ swap }                         \
                      method{ swap } format{ }                \
                      $lvmok{ }                               \
              .                                               \
              256000 256000 256000 ext4                       \
                      lv_name{ root }                         \
                      method{ lvm } format{ }                 \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
                      $lvmok{ }                               \
              .                                               \
              1024 1024 -1 xfs                                \
                      lv_name{ data }                         \
                      method{ lvm } format{ }                 \
                      use_filesystem{ } filesystem{ xfs }     \
                      mountpoint{ /data }                     \
                      $lvmok{ }                               \
              .
d-i partman-auto-lvm/guided_size string max
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian/
d-i mirror/http/proxy string
# No DVD
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false   
d-i apt-setup/cdrom/set-failed boolean false
# Packages choice
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string open-vm-tools vim curl python3-pip cloud-init ansible git

popularity-contest popularity-contest/participate boolean false

# Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# Preseed done !
d-i finish-install/reboot_in_progress note

# Sudo user in /target (installed system) 
d-i preseed/late_command string \
        echo 'debian ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/debian;  \
        in-target chmod 440 /etc/sudoers.d/debian
